@media screen and (min-width: 500px){
    .menu {
        display: none;
    }

    .navigation{
        align-content: center;
    }

    .nav-bar,
    .nav-bar.open{
        display: block;
    }

    .nav-bar nav,
    .nav-bar.open nav{
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: auto;
    }

    .nav-bar a:hover,
    .active {
        position: relative;
        bottom: .2em;
        border-left: none;
        border-bottom: .2em solid var(--color_accent2);
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2em 10em;
        text-align: center;
    }



    .info {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .info h2 {
        text-align: center;
    }

    .contact {
        align-self: center;
    }

    .media {
        align-self: center;
    }

    .pageinfo {
        align-self: center;
    }

    #spotlight {
        display: flex;
        justify-content: space-around;
    }

    #join-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form1-heading {
        grid-column: 1/-1;
    }

    #places {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

    .place-card:hover {
        box-shadow: 0 0 50px black;
    }

    .place-card {
        grid-template-areas:
        "name ."
        "img description"
        "img address"
        "button button"
    }
}