:root {
    --1: #DBD4B7;
    --2: #191717;
    --3: #D9E1E9;
    --4: #AFB541;
    --5: #D7C145;
    --6: #7CACBC;
    --7: #5B6D73;
    --8: #C9ACB4;
    --9: #7CACBC;
    --10: #C47414;
    --11: #3B3C08;
    --12: #132517;
    --13: #6F816A;
    --14: #5B6D73;
}

