:root {
    --color_page: #DBD4B7;
    --color_text: #132517;
    --color_accent: #303F55;
    --color_accent2: #96B8D9;
}

html {
    background-color: var(--color_page);
    color: var(--color_text);
}

h1, h2, nav a {
    font-family: zain, arial, sans-serif;
    font-weight: 700;
}

p {
    font-family: zain, "Times New Roman", sans-serif;
    font-weight: 400;
    font-style: italic;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color_accent);
    color: var(--color_accent2);
}


.heading img {
    width: 100px;
    height: 100px;
    float: left;
    margin: 1em;
}

.menu {
    text-decoration: none;
    color: var(--color_accent2);
}

.menu::before{
    content: '≡';
}

.menu.open::before {
    content: '×';
}

.nav-bar {
    display: none;
}

.nav-bar.open {
    display: flex;
    flex-direction: column;
}

.nav-bar.open a {
    display: block;
    padding: .5em;
}

.nav-bar a {
    text-decoration: none;
    color: var(--color_accent2);
    font-size: 1.2em;
}

.nav-bar a:hover,
.active {
    border-left: .2em solid var(--color_accent2);
}

.hero img {
    width: 100%;
    height: auto;
}

#cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1em;
}


.grid .card {
    border: 3px solid var(--color_accent);
    text-align: center;
    padding: 1em;
}

.grid .title {
    display: flex;
    width: 70%;
    margin: auto;
}

.grid .title h2 {
    align-self: center;
}

.grid .title img {
    margin: .5em;
}

.list .title img {
    display: none;
}

#spotlight-h2{
    text-align: center;
}

.s-card {
    border: 2px solid var(--color_accent);
    padding: 1em;
    text-align: center;
    margin: 1em;
}

footer {
    text-align: center;
}

footer img {
    width: 50px;
    height: 50px;
}


#call {
    position: relative;
    bottom: 10rem;
    left: 2rem;
    font-size: 1.3em;
    text-decoration: none;
}

.form1 {
    max-width: 80%;
}

.form1 label,
.form1 input:not([type="radio"]),
.form1 textarea {
    display: block;
    padding: 10px;
    /*margin: auto;*/
    width: 100%
}

.form1 div {
    margin-left: 1em;
    padding: 10px;
}

.form1 input[type="radio"] {
    margin-left: 2em;
}

.form1 label {
    padding: 1.2em;
}

.form1 textarea {
    height: 4em;
}

.form1 input[type="submit"] {
    width: 100%;
    margin-left: 1.5em;
}
.form1 input:required {
    border-bottom: solid 8px red;
}

.form1 input:required:valid {
    border-bottom: solid 8px green;
}


#results {
    text-transform: capitalize;
}

.member-cards div {
    border: 3px solid var(--color_text);
    text-align: center;
    margin: 2em;
    height: 10em;
}

.np {
    background-color: #b1ff91;
    background-image: linear-gradient(-60deg, #b1ff91, #ccffb5);
    background-size: 600% 600%;
    animation: colorChange 5s infinite linear;
}

.bronze {
    background-color: #ce8946;
    background-image: linear-gradient(-60deg, #d5975a, #ce8946);
    background-size: 600% 600%;
    animation: colorChange 5s infinite linear;
}

.silver {
    background-color: #c0c0c0;
    background-image: linear-gradient(-60deg, #c0c0c0, #e2e2e2);
    background-size: 600% 600%;
    animation: colorChange 5s infinite linear;
}

.gold {
    background-color: #FFD700;
    background-image: linear-gradient(-60deg, #ffe15b, #ffd700);
    background-size: 600% 600%;
    animation: colorChange 5s infinite linear;
}

@keyframes colorChange {
    0%{
        background-position: 0 85%;
    }

    50% {
        background-position: 100% 20%;
    }

    100% {
        background-position: 0 85%;
    }
}

.place-card {
    margin: 1em;
    display: grid;
    grid-template-areas:
    "name"
    "img"
    "description"
    "address"
    "button";
    border: 1px solid var(--color_accent);
}

.place-card > img{
    display: block;
    grid-area: img;
    margin: 1em;
}

.place-card > h2 {
    grid-area: name;
    margin: 1em;
}

.place-card > p {
    grid-area: description;
    margin: 1em;
}

.place-card > address {
    grid-area: address;
    margin: 1em;
}

.place-card > button {
    grid-area: button;
    margin: 1em;
}
