:root {
    --color_text: #424746;
    --color_page: #c1d193;
    --color_h1: #8ecb6d;
    /*--color_accent1: #8c7f5e;*/
    --color_accent1:#3e382c;
    --color_accent2: #728fba;
}

html {
    background-color: var(--color_page);
}

h1 {
    font-family: dynapuff, arial, sans-serif;
    font-weight: 700;
    color: var(--color_h1);
    background-color: var(--color_accent1);
    padding: 1em;
}

p {
    font-family: dynapuff, "Times New Roman", sans-serif;
    font-weight: 400;
    color: var(--color_text);
}


div {
    padding: 1em;
}